// 로그아웃하는 html 작성

        // 로그인한 사용자의 정보를 가져온다.
        HttpSession session = request.getSession();
        MemberVO loginUser = (MemberVO) session.getAttribute("loginUser");

        // 로그인한 사용자가 없으면 로그인 페이지로 이동
        if (loginUser == null) {
            response.sendRedirect("/member/login");
            return false;
        }

        // 로그인한 사용자가 관리자가 아니면 메인 페이지로 이동
        if (!loginUser.getMember_id().equals("admin")) {
            response.sendRedirect("/");
            return false;
        }

        return true;
    }

}